.box {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: rgb(236, 212, 182);
  flex-direction: column;
  height: fit-content;
  min-height: 100%;
  padding-bottom: 2.5%;
  z-index: 2;

}
.heading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35%;
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: right 40%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStiVYMBekBL-54MsnSBLlSXiceFx0v4j-knOFRxxDokQ&s=10");
  z-index: -1;
  outline-style: solid;
}
.infobox {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  border: 10px;
  border-radius: 10px;
  left: 0;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-left: 4%;
  margin-right: 4%;
  height: fit-content;
  background-color: rgba(245, 245, 220, 0.954);
  margin-top: 4%;
  cursor: pointer;
  transition: transform .3s ease-in-out;
}
.infobox:hover{
  transform: translateY(-10px) translateX(10px) translateZ(10px);
  outline-width: 3px;
  transform-style: preserve-3d;
  outline-style: solid;
  outline-color: rgb(5, 244, 252);
  transition: transform .2s ease-in-out;
}

.infobox:hover > .background {
  transition: transform .4s;
  transform: translateY(10px) translateX(-10px) translateZ(-10px);
  background-color: black;
  opacity: calc(.3);
  transition-delay: -.1s;
}
.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 10px;
  border-radius: 10px;
  z-index: -1;
}